.banner {
  background: var(--blue-gradient);
  text-align: center;
  padding: 3.2rem;
  color: var(--branco);
}

.banner__title {
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.banner__description {
  margin-bottom: 2.4rem;
}

.banner__input {
  padding: 1rem 2.4rem;
  width: min(100%, 450px);
  background-color: transparent;
  color: var(--branco);
  border: 1px solid var(--branco);
  border-radius: 24px;
  outline: none;
  font-weight: 700;
}

.banner__input::placeholder {
  color: var(--branco);
  font-size: 1.4rem;
  font-family: var(--font-principal);
  font-weight: 400;
  text-align: center;
  padding: 1.6rem;
  background: url("../images/Pesquisa.svg") no-repeat;
  background-position: 4rem;
}
