.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--branco);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding: 1rem 1.5rem;
}

.header__menuHamburguer {
  display: inline-block;
  background-image: url("../images/Menu.svg");
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.menu__link,
.menu__title {
  display: inline-block;
  padding: 2.4rem;
  text-decoration: none;
  width: calc(100% - 4.8rem);
}

.menu__title {
  color: var(--laranja);
  font-weight: 700;
}

.menu__link {
  background: var(--blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#menu {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.menu__lista {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 64vw;
  background-color: var(--branco);
  /* transform: translateY(-120%); */
  transform: translateX(-100%);
  transition: ease-in-out transform 200ms;
}

#menu:checked ~ .menu__lista {
  /* transform: translateY(0); */
  transform: translateX(0);
  transition: ease-in-out transform 200ms;
}
